
header {
  background-color: #adb5bd;
  height: 80px;
}

.row {
  display: flex;
}



button {
  border-radius: 0;
  border: 0;
  height: 40px;
}
input[type=text] {
  height: 40px;
  background-color: #fafafa;
  border: 1px solid #eeeeee;

}

.form {
  background-color: white;
  margin-bottom: 16px;
    padding: 16px;
}
.form  .col {
  flex:1;
  text-align: left;
}
