body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #eeeeee;
  color:#505050;
  line-height: 16px;
}

* {
  /*outline:1px dashed;*/
}

div {
    /*outline:1px dotted gray;*/
}


.inner-wrapper {
  max-width: 912px;
  margin: auto;

}


.btn {
  font-size: 14px;
  margin-left: 6px;
  font-weight: 500;
  padding: 0px 20px;
  color: #757575
}

.btn-2 {
  color: #157bfb;
}

.btn-ok {
  background-color: #157bfb;
  color:white;
}

.btn:disabled {
  opacity: .2;
  cursor: not-allowed;
}
