body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #eeeeee;
  color:#505050;
  line-height: 16px;
}

* {
  outline:1px dashed;
}

div {
    /*outline:1px dotted gray;*/
}

.inner-wrapper {
  max-width: 912px;
  margin: auto;

}



.participant_table {
  width: 100%;
}

.participant_table .row {
  height:72px;
  margin-bottom: 1px;
  background-color: white
}

.participant_table .col {
  padding:16px;
  flex:1;
  text-align: left;
  display: flex;
  align-items: center;
}

.participant_table .header {
  height:48px;
}
